# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments 
venv/
env/
.env

# IDE settings 
.idea/
.vscode/
*.swp

# Distribution / Packaging
dist/
build/
*.egg-info/